<div>
        <a href="mailto:fr1e@pm.me" title="Email me">
          <span class="fa-stack fa-lg">
            <i class="fas fa-envelope fa-stack-1x fa-inverse"></i>
          </span>
        </a>  
    
      <a href="https://gitlab.com/friep" title="GitLab">
        <span class="fa-stack fa-lg">
          <i class="fab fa-gitlab fa-stack-1x fa-inverse"></i>
        </span>
      </a>
      
      <a href="https://github.com/friep" title="GitHub">
        <span class="fa-stack fa-lg">
          <i class="fab fa-github fa-stack-1x fa-inverse"></i>
        </span>
      </a>


      <a href="https://twitter.com/ameisen_strasse" title="Twitter">
        <span class="fa-stack fa-lg">
          <i class="fab fa-twitter fa-stack-1x fa-inverse"></i>
        </span>
      </a>


      <a href="https://linkedin.com/in/friedrike-preu-a2bb46a7/" title="LinkedIn">
        <span class="fa-stack fa-lg">
          <i class="fab fa-linkedin fa-stack-1x fa-inverse"></i>
        </span>
      </a>


      <a href="https://keybase.io/friep" title="Keybase">
        <span class="fa-stack fa-lg">
          <i class="fas fa-key fa-stack-1x fa-inverse"></i>
        </span>
      </a>
</div>